<div class="main-header">
    <div class="logo">
        <img src="./assets/images/brand/SFD_LOGOTYPE_H_RGB_DUAL_RIGHT.svg" style="width:125px;height:85px" alt="">
    </div>

    <div class="menu-toggle" (click)="toggelSidebar()">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="d-flex align-items-center">
        <!-- Mega menu -->
        <div ngbDropdown class="mega-menu d-none d-md-block">
            <button ngbDropdownToggle href="#" class="btn text-muted dropdown-toggle mr-3">دليل الأنظمة</button>
            <div ngbDropdownMenu perfectScrollbar>
                <div class="row m-0">
                    <div class="col-md-3 p-4 bg-img" dir="rtl" style="text-align: right">
                        <h3 class="title">دليل الأنظمة
                        </h3>
                        <h6 style="color: #ccc">
                            الصندوق السعودي للتنية
                        </h6>
                        <p>يمكنك من خلال هذه الخدمة التنقل بين أنظمة الصندوق المختلفة والمتنوعة .
                        </p>
                        <p class="mb-4">في حالة عدم ظهر أنظمة تعتقد بأنه لك صلاحية الوصول إليها يرجى التواصل مع إدارة تقنية المعولمات .</p>
                    </div>
                    <div class="col-md-9 p-4">
                        <p class="text-primary text--cap border-bottom-primary d-inline-block">الأنظمة</p>
                        <div class="menu-icon-grid w-auto p-0" style="text-align: center">
                            <a href="#"><i class="i-Checked-User"></i> لوحتي</a>
                            <a href="#"><i class="i-Letter-Sent"></i> الإتصالات الإدارية</a>
                            <a href="#"><i class="i-Plane-2"></i> الإنتدابات</a>
                            <a href="#"><i class="i-Landscape1"></i> الإجازات</a>
                            <a href="#"><i class="i-Building"></i> المستودعات</a>
                            <a href="#"><i class="i-Folder-Lock"></i> العهد</a>
                            <a href="#"><i class="i-Money-2"></i> المصروفات</a>
                            <a href="#"><i class="i-Danger"></i> الصيانة</a>
                            <a href="#"><i class="i-Money-Bag"></i> الخزينة</a>
                            <a href="#"><i class="i-Student-Hat-2"></i> القانونية</a>
                            <a href="#"><i class="i-Gears"></i> العمليات</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Search bar -->
        <div >
             التاريخ

            اليوم
        </div>
    </div>

    <div style="margin: auto"></div>

    <div class="header-part-right">
        <i fullScreenWindow class="i-Full-Screen header-icon d-none d-sm-inline-block" role="button"></i>
        <div ngbDropdown [placement]="'bottom-right'" class="d-none d-sm-inline-block">
            <i ngbDropdownToggle class="i-Information text-muted header-icon" role="button"></i>
            <div ngbDropdownMenu class="menu-icon-grid-dropdown">
                <div class="menu-icon-grid">
                    <a href="#"><i class="i-Men"></i> دليل الأشخاص</a>
                    <a href="#"><i class="i-Calendar-4"></i> تقويم العمل</a>

                </div>
            </div>
        </div>

        <div ngbDropdown [placement]="'bottom-right'">
            <div class="badge-top-container">
                <span class="badge badge-primary">{{notifications.length}}</span>
                <i ngbDropdownToggle class="i-Bell text-muted header-icon" role="button"></i>
            </div>
            <div ngbDropdownMenu class="notification-dropdown rtl-ps-none" perfectScrollbar>
                <div class="dropdown-item d-flex" *ngFor="let item of notifications" [routerLink]="[item.link]">
                    <div class="notification-icon">
                        <i class="{{item.icon}} text-{{item.status}} mr-1"></i>
                    </div>
                    <div class="notification-details flex-grow-1">
                        <p class="m-0 d-flex align-items-center">
                            <span>{{item.title}}</span>
                            <span *ngIf="item.badge" class="badge badge-pill badge-{{item.status}} ml-1 mr-1">{{item.badge}}</span>
                            <span class="flex-grow-1"></span>
                            <span class="text-small text-muted ml-auto">{{item.time | relativeTime}}</span>
                        </p>
                        <p class="text-small text-muted m-0">{{item.text | excerpt:30}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div ngbDropdown [placement]="'bottom-right'" class="user col align-self-end">
            <img src="./assets/images/faces/1.jpg" id="userDropdown" ngbDropdownToggle alt="">

            <div ngbDropdownMenu aria-labelledby="userDropdown" class="header-account-dropdown" style="text-align: right">
                <div class="dropdown-header">
                    <i class="i-Lock-User mr-1"></i>بياناتي
                </div>



                <button class="dropdown-item">
                    <i class="i-Gear-2 mr-1"></i>
                    تغيير الخصائص
                </button>


                <button class="dropdown-item">
                    <i class="i-Lock-2 mr-1"></i>
                    تغيير الرقم السري</button>
                <button class="dropdown-item" style="background-color: #c3325f;color: #fff" (click)="signout()">خروج</button>
            </div>
        </div>

    </div>

</div>
