<div class="app-footer">
	<div class="row">
		<div class="col-md-2">
			<p style="direction: rtl"><strong>نظام تخطيط الموارد الحكومية </strong></p>
			<p></p>
		</div>
	</div>
	<div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
		<div class="d-flex align-items-center">
			<img src="./assets/images/brand/SFD_LOGOTYPE_H_RGB_DUAL_RIGHT.svg" style="width:125px;height:85px" alt="">
			<div>
				<p class="m-0">&copy; ٢٠٢٠ إدارة تقنية المعلومات </p>
				<p class="m-0">كل الحقوق محفوظة</p>
			</div>
		</div>

		<span class="flex-grow-1"></span>

	</div>
</div>
